:root {
--hero-color: #FFFFFF;
--main-color: #2E2F42;
--second-color: #434455;
}



.body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF
}
.header-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    background: var(--main-color);
    text-transform: uppercase;
    color: #4d5ae5;
     
}
.header-logo span {
    color: #2e2f42;
}
.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}
.direction-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.direction-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    
}
.working-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.working-menu-item {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team {
background-color: #F4F4FD;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize; 
color: #2e2f42;
}


.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.address-menu-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    
}
.link {
    text-decoration: none;}
.list{
    list-style: none;
}

.header-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}


.p-btn{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
cursor: pointer;
}


.p-btn:hover {
color: #404bbf

}

.p-btn:focus {
    color: #404bbf
}

btn:hover {
    color: #404bbf
}

btn:focus {
    color: #404bbf
}


.address-menu:hover {
color: #404bbf
}
.address-menu:focus {
    color: #404bbf
}
.header-menu:hover {
color: #404bbf;
}
.header-menu:focus {
    color: #404bbf;
}
.p-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background: #4D5AE5;
}
.p-direction-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-direction-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-text {
line-height: 1.5;
color:#F4F4FD;
letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}
.p-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span {
   color: #f4f4fd;
}
.body {
font-family: "Roboto", sans-serif;
color: #434455;
}